@import url("header&footer.css");

body {
    font-family: PingFang TC, Semibold, Microsoft JhengHei, Arial;
    line-height: 1.5;
    font-size: 1rem;
    padding: 0;
}

// 以下是首頁
.p-story {
    .p-story-section-1 {
        max-width: 1280px;
        height: 480px;
        background: #fdf5e4;
        margin-top: 15rem;
        li {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 940px;
            margin: 0 auto;
            .image {
                width: 460px;
                height: 528px;

                margin-top: -1.5rem;
                margin-bottom: -1.5rem;

                background-image: url("https://images.unsplash.com/photo-1593773511018-cf038f85096c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=675&q=80");
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
            }
            .content {
                writing-mode: vertical-rl;
                height: 30rem;
                padding-top: 4.375rem;
                padding-bottom: 4.375rem;
                line-height: 2.5;
                p {
                    margin-bottom: 2rem;
                    margin-left: 2rem;
                    color: #8da291;
                }
            }
            .slogan {
                width: 89px;

                height: 307px;
                margin-top: -1.5rem;
            }
        }
    }
    .p-story-section-2 {
        max-width: 1280px;
        height: 480px;
        background: #fdf5e4;
        margin-top: 8rem;
        li {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 940px;
            margin: 0 auto;
            margin-bottom: 8rem;

            .content {
                writing-mode: vertical-rl;
                height: 30rem;
                padding-top: 4.375rem;
                padding-bottom: 4.375rem;
                line-height: 2.5;
                p {
                    margin-bottom: 2rem;
                    margin-left: 2rem;
                    color: #8da291;
                }
            }
            .slogan {
                width: 89px;
                height: 307px;
                margin-top: -1.5rem;
            }
            .image {
                width: 460px;
                height: 528px;

                margin-top: -1.5rem;
                margin-bottom: -1.5rem;

                background-image: url("https://images.unsplash.com/photo-1505993189875-1ad73a8c8602?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80");
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
            }
        }
    }

    .p-story-section-3 {
        max-width: 1280px;
        margin-top: 5rem;
        margin-bottom: 5rem;
        .slogan {
            margin: 0 auto;
            width: 89px;
            height: 307px;
        }
    }
}
.RWD-p-story {
    display: none;
}

@media (max-width: 1023px) {
    .p-story {
        display: none;
    }
    .RWD-p-story {
        // 因之前將RWD-p-story設定為display:none，現在要把它顯現出來！
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 10rem;
        .RWD-p-story-section-1 {
            li {
                .RWD-slogan {
                    margin: 0 auto;
                    max-width: 50%;
                    margin-top: 3rem;
                    margin-bottom: 3rem;
                }
                .RWD-image {
                    height: 15.625rem;
                    background-image: url("https://images.unsplash.com/photo-1593773511018-cf038f85096c?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8ZHJ5JTIwZmxvd2VyfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=900&q=60");
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                }
                .RWD-content {
                    background: #fdf5e4;
                    padding-top: 1rem;
                    padding-bottom: 1rem;
                    p {
                        color: #8da291;
                        margin-right: 1rem;
                        margin-left: 1rem;
                        margin-bottom: 1rem;
                    }
                }
            }
        }
        .RWD-p-story-section-2 {
            li {
                .RWD-slogan {
                    margin: 0 auto;
                    max-width: 50%;
                    margin-top: 3rem;
                    margin-bottom: 3rem;
                    img {
                    }
                }
                .RWD-image {
                    height: 15.625rem;
                    background-image: url("https://images.unsplash.com/photo-1505993189875-1ad73a8c8602?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=934&q=80");
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                }
                .RWD-content {
                    background: #fdf5e4;
                    padding-top: 1rem;
                    padding-bottom: 1rem;
                    p {
                        color: #8da291;
                        margin-right: 1rem;
                        margin-left: 1rem;
                        margin-bottom: 1rem;
                    }
                }
            }
        }
        .RWD-p-story-section-3 {
            margin-bottom: 5rem;

            .RWD-slogan {
                margin: 0 auto;
                max-width: 50%;
                margin-top: 3rem;
                margin-bottom: 3rem;
                img {
                }
            }
        }
    }
}
.product {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 940px;
    margin: 0 auto;
    li {
        .picture {
            display: flex;
            position: relative;
            p {
                background: #7d7159;
                color: white;
                width: 40px;
                height: 105px;
                padding: 1rem 0.625rem;
                letter-spacing: 0.1rem;
                writing-mode: vertical-lr;
                position: absolute;
                top: 0;
                left: 1.25em;
            }
            a {
                color: #7d7159;
                position: absolute;
                top: 10px;
                right: 10px;
                font-weight: 400;
            }
            img {
                display: block;
                object-fit: cover;
                width: 300px;
            }
        }
        .price {
            display: flex;
            h3,
            p {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 56px;
                font-size: 20px;
                color: #f2c461;
                border: 1px solid #fdf5e4;
            }
            h3 {
                width: 180px;
                font-weight: bold;
                overflow: auto;
            }
            p {
                width: 120px;
                font-weight: bolder;
            }
        }
        .shopping-cart-button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 300px;
            height: 65px;
            font-size: 24px;
            background: #fdf5e4;
            color: #7d7159;
            border: 1px solid #fdf5e4;
            text-decoration: none;
            font-weight: bold;
            &:hover {
                background: #7d7159;
                color: #fdf5e4;
            }
        }
    }
}
@media (max-width: 1023px) {
    .product {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin: 0 auto;
        width: 100%;
        li {
            .picture img {
                // 將圖片的寬度設定為100%
                width: 100%;
                object-fit: cover;
            }
            .price h3,
            p {
                // 將標題與段落文字的寬度，設定為100%
                width: 100%;
            }
            .shopping-cart-button {
                // 將a連結(按鍵寬度)設定為100%
                width: 100%;
            }
        }
    }
}
// 以下是產品頁
.banner {
    background-image: url("https://images.unsplash.com/photo-1606060831961-06d4944eff68?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 496px;
    width: 100%;
}
@media (max-width: 767px) {
    .banner {
        height: auto;
        min-height: 17rem;
    }
}

.main {
    display: flex;
    margin-top: 60px;
    width: 100%;
    .sidebar {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 30%;
        font-size: 1.5rem;
        font-weight: bold;
        margin-right: 20px;
        h2 {
            padding-top: 1rem;
            padding-bottom: 1rem;
            background-color: #7d7159;
            color: white;
        }
        a {
            border: 1px solid #fdf5e4;
            padding-top: 1rem;
            padding-bottom: 1rem;
            text-decoration: none;
            color: #7d7159;
            &:hover {
                background: #fdf5e4;
            }
        }
    }
    .product {
        display: flex;
        justify-content: space-evenly;
        width: 70%;
        flex-wrap: wrap;
        li {
            margin-bottom: 20px;
        }
        .picture {
            display: flex;
            position: relative;
            p {
                background: #7d7159;
                color: white;
                width: 40px;
                height: 105px;
                padding: 1rem 0.625rem;
                letter-spacing: 0.1rem;
                writing-mode: vertical-lr;
                position: absolute;
                top: 0;
                left: 1.25em;
            }
            a {
                color: #7d7159;
                position: absolute;
                top: 10px;
                right: 10px;
                font-weight: 400;
            }
            img {
                display: block;
                width: 300px;
                height: 315px;
            }
        }
        .price {
            display: flex;
            h3,
            p {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 56px;
                font-size: 20px;
                color: #7d7159;
                border: 1px solid #fdf5e4;
            }
            h3 {
                width: 180px;
                font-weight: bold;
            }
            p {
                width: 120px;
                font-weight: bolder;
            }
        }
        .shopping-cart-button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 300px;
            height: 65px;
            font-size: 24px;
            background: #fdf5e4;
            color: #7d7159;
            border: 1px solid #fdf5e4;
            text-decoration: none;
            font-weight: bold;
            &:hover {
                background: #7d7159;
                color: #fdf5e4;
            }
        }
    }
}
@media (max-width: 1023px) {
    .main {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        .sidebar {
            max-width: 100%;
            // flex: 0 0 100%;代表原始佔比100%，不放大，也不縮小
            flex: 0 0 100%;
        }
        .product {
            margin: 0 auto;
            width: 100%;
            li {
                .picture img {
                    // 將圖片的寬度設定為100%
                    width: 100%;
                    object-fit: cover;
                }
                .price h3,
                p {
                    // 將標題與段落文字的寬度，設定為100%
                    width: 100%;
                }
                .shopping-cart-button {
                    // 將a連結(按鍵寬度)設定為100%
                    width: 100%;
                }
            }
        }
    }
}
.pagination {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 20px;
    li {
        display: flex;
        border: 1px solid #fdf5e4;
        justify-content: center;
        align-items: center;
        a {
            color: #7d7159;
            text-decoration: none;
            font-size: 20px;
            padding: 20px;
            &:hover {
                background: #7d7159;
                color: #fdf5e4;
            }
        }
    }
}
// 以下是登入頁
.col-container {
    max-width: 940px;
    margin: 0 auto;
    .col-row {
        display: flex;
        max-width: 82.97872%;
        flex: 0 0 82.97872%;
        margin: 1.875rem auto 0;
        .login-account {
            max-width: 50%;
            flex: 0 0 50%;
            background: #7d7159;
            h2 {
                margin-top: 2.5rem;
                margin-bottom: 2.5rem;
                font-size: 2.5rem;
                color: #fdf5e4;
                text-align: center;
            }
            ul {
                display: flex;
                flex-direction: column;
                margin-left: 1.875rem;
                margin-right: 1.875rem;
                // position: relative;
                .email-block {
                    background: #fdf5e4;
                    max-width: 23.75rem;
                    margin-bottom: 1rem;
                    .user-icon {
                        padding: 1.3rem;
                        color: #7d7159;
                        background: #fdf5e4;
                    }
                    input {
                        height: 3.5rem;
                        background: #fdf5e4;
                        border: none;
                        outline: none;
                    }
                }
                .password-block {
                    background: #fdf5e4;
                    max-width: 23.75rem;
                    margin-bottom: 1rem;
                    .key-icon {
                        padding: 1.3rem;
                        color: #7d7159;
                        background: #fdf5e4;
                    }
                    input {
                        height: 3.5rem;
                        background: #fdf5e4;
                        border: none;
                        outline: none;
                    }
                }
                .check-box {
                    margin-bottom: 1rem;
                    color: white;
                }
            }
        }
        .submit {
            display: flex;
            justify-content: center;
            background: #ffe180;
            font-size: 1.5rem;
            font-weight: bold;
            width: 100%;
            border: none;
            &:hover {
                background: #ffd54d;
            }
            a {
                padding-top: 1rem;
                padding-bottom: 1rem;
                text-decoration: none;
                color: #7d7159;
            }
        }
        .login-community {
            max-width: 50%;
            flex: 0 0 50%;
            background: #fdf5e4;
            margin-top: 1rem;
            margin-bottom: 1rem;
            h2 {
                color: #8da291;
                font-size: 1.5rem;
                text-align: center;
                margin-top: 2.5rem;
                margin-bottom: 2.5rem;
            }
            ul {
                display: flex;
                flex-direction: column;
                margin-left: 1.875rem;
                margin-right: 1.875rem;
                // position: relative;
                li {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 56px;
                    background: #fff;
                    margin-bottom: 1rem !important;
                    &:hover {
                        background: #e6e6e6;
                    }
                    a {
                        img {
                            width: 108px;
                            height: 20px;
                        }
                    }
                }
            }
        }
    }
    .RWD-col-row {
        display: none;
    }
}

@media (max-width: 1023px) {
    .col-container {
        .col-row {
            display: flex;
            max-width: 100%;
            flex: 0 0 100%;
        }
    }
}
@media (max-width: 767px) {
    .col-container {
        .col-row {
            .login-account {
                display: none;
            }
            .login-community {
                display: none;
            }
        }
    }
    .col-container {
        .RWD-col-row {
            display: flex;
            flex-direction: column;
            .RWD-header {
                display: flex;
                justify-content: center;
                width: 100%;
                background: #7d7159;
                h2 {
                    font-size: 2.25rem;
                    color: #fdf5e4;
                    margin-top: 1.875rem;
                    margin-bottom: 1.875rem;
                }
            }
            .RWD-link {
                display: flex;
                justify-content: center;
                background: #fdf5e4;
                padding: 1.5rem;
                li {
                    max-width: 80%;
                    a {
                        display: flex;
                        height: 56px;
                        align-items: center;
                        justify-content: center;
                        background: #fff;
                        &:hover {
                            background: #e6e6e6;
                        }
                        img {
                            width: 33.33333%;
                            height: 20px;
                        }
                    }
                }
            }
            .RWD-login-account {
                max-width: 100%;
                flex: 0 0 100%;
                background: #7d7159;
                ul {
                    display: flex;
                    flex-direction: column;
                    margin-top: 1.5rem;
                    margin-left: 1.875rem;
                    margin-right: 1.875rem;
                    .email-block {
                        background: #fdf5e4;
                        max-width: 100%;
                        margin-bottom: 1rem;
                        .user-icon {
                            padding: 1.3rem;
                            color: #7d7159;
                            background: #fdf5e4;
                        }
                        input {
                            height: 3.5rem;
                            background: #fdf5e4;
                            border: none;
                            outline: none;
                        }
                    }
                    .password-block {
                        background: #fdf5e4;
                        max-width: 100%;
                        margin-bottom: 1rem;
                        .key-icon {
                            padding: 1.3rem;
                            color: #7d7159;
                            background: #fdf5e4;
                        }
                        input {
                            height: 3.5rem;
                            background: #fdf5e4;
                            border: none;
                            outline: none;
                        }
                    }
                    .check-box {
                        margin-bottom: 1rem;
                        color: white;
                    }
                }
                .submit {
                    display: flex;
                    justify-content: center;
                    background: #ffe180;
                    font-size: 1.5rem;
                    font-weight: bold;
                    width: 100%;
                    border: none;
                    &:hover {
                        background: #ffd54d;
                    }
                    a {
                        padding-top: 1rem;
                        padding-bottom: 1rem;
                        text-decoration: none;
                        color: #7d7159;
                    }
                }
            }
        }
    }
}
// 以下是購物車頁
.col-container {
    .col-row {
        display: flex;
        justify-content: space-between;
        .order {
            flex: 0 0 65.95745%;
            max-width: 65.95745%;
            h2 {
                font-size: 1.5rem;
                font-weight: bold;
                background: #fdf5e4;
                color: #7d7159;
                text-align: center;
                padding-top: 1rem;
                padding-bottom: 1rem;
                margin-bottom: 2rem;
            }
            ul {
                li {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding-bottom: 1rem;
                    border-bottom: 1px solid #fdf5e4;
                    img {
                        width: 107.875px;
                        height: 118px;
                        object-fit: cover;
                    }
                    .product-name-and-price {
                        color: #7d7159;
                        display: flex;
                        align-items: center;
                        .product-name {
                            display: flex;
                            flex-direction: column;
                            margin-top: 1.5rem;
                            margin-right: 1rem;
                            li {
                                border: none;
                                h3 {
                                    font-size: 1.25rem;
                                }
                            }
                        }
                        .order-box {
                            display: flex;
                            justify-content: center;
                            height: 3rem;
                            line-height: 3rem;
                            button {
                                border: none;
                                border: 1px solid #fdf5e4;
                                background: none;
                                width: 41.35px;
                                &:hover {
                                    background: rgb(170, 170, 170);
                                }
                                &:focus {
                                    outline: none;
                                }
                            }
                            p {
                                border: 1px solid #fdf5e4;
                                width: 41.35px;
                                text-align: center;
                            }
                        }
                    }

                    .price {
                        font-size: 1.25rem;
                        font-weight: bold;
                        color: #7d7159;
                    }
                    a {
                        color: #7d7159;
                    }
                }
            }
        }
        .summary {
            flex: 0 0 31.91489%;
            max-width: 31.91489%;
            background: #7d7159;
            height: 260px;
            h2 {
                font-size: 1.5rem;
                color: #fdf5e4;
                padding: 1rem;
                border-bottom: 1px solid #fdf5e4;
                text-align: center;
                margin-right: 1rem;
                margin-left: 1rem;
                margin-bottom: 1rem;
            }
            .subtotal {
                color: #fdf5e4;
                margin-bottom: 1rem;
                padding-left: 1rem;
                padding-right: 1rem;
                li {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 0.5rem;
                }
            }
            .total {
                color: #fdf5e4;
                margin-bottom: 1rem;
                padding-left: 1rem;
                padding-right: 1rem;
                li {
                    display: flex;
                    justify-content: space-between;
                    font-size: 1.25rem;
                    font-weight: bold;
                }
            }
            button {
                background: #ffe180;
                border: none;
                width: 100%;
                padding: 1rem;
                &:hover {
                    background: #ffd54d;
                }
                a {
                    text-decoration: none;
                    font-size: 1.5rem;
                    color: #7d7159;
                    // text-align: center;
                    font-weight: bold;
                }
            }
        }
    }
}
@media (max-width: 1023px) {
    .col-container {
        .col-row {
            display: flex;
            .order {
                flex: 0 0 100%;
                max-width: 100%;
                ul {
                    li {
                        img {
                            flex: 0.7;
                        }
                    }
                }
            }
            .summary {
                flex: 0 0 48.93617%;
                max-width: 48.93617%;
                transform: translateX(50%);
            }
        }
    }
}
@media (max-width: 767px) {
    .col-container {
        .col-row {
            .order {
                ul {
                    li {
                        img {
                            flex: 0.7;
                        }
                        .product-name-and-price {
                            display: flex;
                            flex-direction: column;
                            .product-name {
                                position: relative;
                                left: -10px;
                            }
                            .order-box {
                                margin-bottom: 3rem;
                            }
                        }
                        .price {
                            position: relative;
                            bottom: -100px;
                        }
                    }
                }

                .fa-trash-alt {
                    display: none;
                }
            }
        }
    }
}
@media (max-width: 568px) {
    .col-container {
        .col-row {
            .summary {
                margin-top: 2rem;
                flex: 0 0 100%;
                max-width: 100%;
                transform: translateX(0%);
                background: white;
                h2 {
                    color: #7d7159;
                    border-bottom: none;
                    font-weight: bold;
                    background: #fdf5e4;
                }
                ul {
                    li {
                        color: #7d7159;
                    }
                }
            }
        }
    }
}
