@import url("header&footer.css");
body {
  font-family: PingFang TC, Semibold, Microsoft JhengHei, Arial;
  line-height: 1.5;
  font-size: 1rem;
  padding: 0;
}

.p-story .p-story-section-1 {
  max-width: 1280px;
  height: 480px;
  background: #fdf5e4;
  margin-top: 15rem;
}

.p-story .p-story-section-1 li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 940px;
  margin: 0 auto;
}

.p-story .p-story-section-1 li .image {
  width: 460px;
  height: 528px;
  margin-top: -1.5rem;
  margin-bottom: -1.5rem;
  background-image: url("https://images.unsplash.com/photo-1593773511018-cf038f85096c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=675&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.p-story .p-story-section-1 li .content {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  height: 30rem;
  padding-top: 4.375rem;
  padding-bottom: 4.375rem;
  line-height: 2.5;
}

.p-story .p-story-section-1 li .content p {
  margin-bottom: 2rem;
  margin-left: 2rem;
  color: #8da291;
}

.p-story .p-story-section-1 li .slogan {
  width: 89px;
  height: 307px;
  margin-top: -1.5rem;
}

.p-story .p-story-section-2 {
  max-width: 1280px;
  height: 480px;
  background: #fdf5e4;
  margin-top: 8rem;
}

.p-story .p-story-section-2 li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 940px;
  margin: 0 auto;
  margin-bottom: 8rem;
}

.p-story .p-story-section-2 li .content {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  height: 30rem;
  padding-top: 4.375rem;
  padding-bottom: 4.375rem;
  line-height: 2.5;
}

.p-story .p-story-section-2 li .content p {
  margin-bottom: 2rem;
  margin-left: 2rem;
  color: #8da291;
}

.p-story .p-story-section-2 li .slogan {
  width: 89px;
  height: 307px;
  margin-top: -1.5rem;
}

.p-story .p-story-section-2 li .image {
  width: 460px;
  height: 528px;
  margin-top: -1.5rem;
  margin-bottom: -1.5rem;
  background-image: url("https://images.unsplash.com/photo-1505993189875-1ad73a8c8602?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.p-story .p-story-section-3 {
  max-width: 1280px;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.p-story .p-story-section-3 .slogan {
  margin: 0 auto;
  width: 89px;
  height: 307px;
}

.RWD-p-story {
  display: none;
}

@media (max-width: 1023px) {
  .p-story {
    display: none;
  }
  .RWD-p-story {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 10rem;
  }
  .RWD-p-story .RWD-p-story-section-1 li .RWD-slogan {
    margin: 0 auto;
    max-width: 50%;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .RWD-p-story .RWD-p-story-section-1 li .RWD-image {
    height: 15.625rem;
    background-image: url("https://images.unsplash.com/photo-1593773511018-cf038f85096c?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8ZHJ5JTIwZmxvd2VyfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=900&q=60");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .RWD-p-story .RWD-p-story-section-1 li .RWD-content {
    background: #fdf5e4;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .RWD-p-story .RWD-p-story-section-1 li .RWD-content p {
    color: #8da291;
    margin-right: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
  }
  .RWD-p-story .RWD-p-story-section-2 li .RWD-slogan {
    margin: 0 auto;
    max-width: 50%;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .RWD-p-story .RWD-p-story-section-2 li .RWD-image {
    height: 15.625rem;
    background-image: url("https://images.unsplash.com/photo-1505993189875-1ad73a8c8602?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=934&q=80");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .RWD-p-story .RWD-p-story-section-2 li .RWD-content {
    background: #fdf5e4;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .RWD-p-story .RWD-p-story-section-2 li .RWD-content p {
    color: #8da291;
    margin-right: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
  }
  .RWD-p-story .RWD-p-story-section-3 {
    margin-bottom: 5rem;
  }
  .RWD-p-story .RWD-p-story-section-3 .RWD-slogan {
    margin: 0 auto;
    max-width: 50%;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 940px;
  margin: 0 auto;
}

.product li .picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.product li .picture p {
  background: #7d7159;
  color: white;
  width: 40px;
  height: 105px;
  padding: 1rem 0.625rem;
  letter-spacing: 0.1rem;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  position: absolute;
  top: 0;
  left: 1.25em;
}

.product li .picture a {
  color: #7d7159;
  position: absolute;
  top: 10px;
  right: 10px;
  font-weight: 400;
}

.product li .picture img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  width: 300px;
}

.product li .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product li .price h3,
.product li .price p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 56px;
  font-size: 20px;
  color: #f2c461;
  border: 1px solid #fdf5e4;
}

.product li .price h3 {
  width: 180px;
  font-weight: bold;
  overflow: auto;
}

.product li .price p {
  width: 120px;
  font-weight: bolder;
}

.product li .shopping-cart-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  height: 65px;
  font-size: 24px;
  background: #fdf5e4;
  color: #7d7159;
  border: 1px solid #fdf5e4;
  text-decoration: none;
  font-weight: bold;
}

.product li .shopping-cart-button:hover {
  background: #7d7159;
  color: #fdf5e4;
}

@media (max-width: 1023px) {
  .product {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    width: 100%;
  }
  .product li .picture img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .product li .price h3,
  .product li p {
    width: 100%;
  }
  .product li .shopping-cart-button {
    width: 100%;
  }
}

.banner {
  background-image: url("https://images.unsplash.com/photo-1606060831961-06d4944eff68?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 496px;
  width: 100%;
}

@media (max-width: 767px) {
  .banner {
    height: auto;
    min-height: 17rem;
  }
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
  width: 100%;
}

.main .sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 30%;
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 20px;
}

.main .sidebar h2 {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #7d7159;
  color: white;
}

.main .sidebar a {
  border: 1px solid #fdf5e4;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-decoration: none;
  color: #7d7159;
}

.main .sidebar a:hover {
  background: #fdf5e4;
}

.main .product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 70%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main .product li {
  margin-bottom: 20px;
}

.main .product .picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.main .product .picture p {
  background: #7d7159;
  color: white;
  width: 40px;
  height: 105px;
  padding: 1rem 0.625rem;
  letter-spacing: 0.1rem;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  position: absolute;
  top: 0;
  left: 1.25em;
}

.main .product .picture a {
  color: #7d7159;
  position: absolute;
  top: 10px;
  right: 10px;
  font-weight: 400;
}

.main .product .picture img {
  display: block;
  width: 300px;
  height: 315px;
}

.main .product .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .product .price h3,
.main .product .price p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 56px;
  font-size: 20px;
  color: #7d7159;
  border: 1px solid #fdf5e4;
}

.main .product .price h3 {
  width: 180px;
  font-weight: bold;
}

.main .product .price p {
  width: 120px;
  font-weight: bolder;
}

.main .product .shopping-cart-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  height: 65px;
  font-size: 24px;
  background: #fdf5e4;
  color: #7d7159;
  border: 1px solid #fdf5e4;
  text-decoration: none;
  font-weight: bold;
}

.main .product .shopping-cart-button:hover {
  background: #7d7159;
  color: #fdf5e4;
}

@media (max-width: 1023px) {
  .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }
  .main .sidebar {
    max-width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
  .main .product {
    margin: 0 auto;
    width: 100%;
  }
  .main .product li .picture img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .main .product li .price h3,
  .main .product li p {
    width: 100%;
  }
  .main .product li .shopping-cart-button {
    width: 100%;
  }
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 20px;
}

.pagination li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #fdf5e4;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pagination li a {
  color: #7d7159;
  text-decoration: none;
  font-size: 20px;
  padding: 20px;
}

.pagination li a:hover {
  background: #7d7159;
  color: #fdf5e4;
}

.col-container {
  max-width: 940px;
  margin: 0 auto;
}

.col-container .col-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 82.97872%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 82.97872%;
          flex: 0 0 82.97872%;
  margin: 1.875rem auto 0;
}

.col-container .col-row .login-account {
  max-width: 50%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  background: #7d7159;
}

.col-container .col-row .login-account h2 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  font-size: 2.5rem;
  color: #fdf5e4;
  text-align: center;
}

.col-container .col-row .login-account ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 1.875rem;
  margin-right: 1.875rem;
}

.col-container .col-row .login-account ul .email-block {
  background: #fdf5e4;
  max-width: 23.75rem;
  margin-bottom: 1rem;
}

.col-container .col-row .login-account ul .email-block .user-icon {
  padding: 1.3rem;
  color: #7d7159;
  background: #fdf5e4;
}

.col-container .col-row .login-account ul .email-block input {
  height: 3.5rem;
  background: #fdf5e4;
  border: none;
  outline: none;
}

.col-container .col-row .login-account ul .password-block {
  background: #fdf5e4;
  max-width: 23.75rem;
  margin-bottom: 1rem;
}

.col-container .col-row .login-account ul .password-block .key-icon {
  padding: 1.3rem;
  color: #7d7159;
  background: #fdf5e4;
}

.col-container .col-row .login-account ul .password-block input {
  height: 3.5rem;
  background: #fdf5e4;
  border: none;
  outline: none;
}

.col-container .col-row .login-account ul .check-box {
  margin-bottom: 1rem;
  color: white;
}

.col-container .col-row .submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #ffe180;
  font-size: 1.5rem;
  font-weight: bold;
  width: 100%;
  border: none;
}

.col-container .col-row .submit:hover {
  background: #ffd54d;
}

.col-container .col-row .submit a {
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-decoration: none;
  color: #7d7159;
}

.col-container .col-row .login-community {
  max-width: 50%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  background: #fdf5e4;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.col-container .col-row .login-community h2 {
  color: #8da291;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.col-container .col-row .login-community ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 1.875rem;
  margin-right: 1.875rem;
}

.col-container .col-row .login-community ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 56px;
  background: #fff;
  margin-bottom: 1rem !important;
}

.col-container .col-row .login-community ul li:hover {
  background: #e6e6e6;
}

.col-container .col-row .login-community ul li a img {
  width: 108px;
  height: 20px;
}

.col-container .RWD-col-row {
  display: none;
}

@media (max-width: 1023px) {
  .col-container .col-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

@media (max-width: 767px) {
  .col-container .col-row .login-account {
    display: none;
  }
  .col-container .col-row .login-community {
    display: none;
  }
  .col-container .RWD-col-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .col-container .RWD-col-row .RWD-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    background: #7d7159;
  }
  .col-container .RWD-col-row .RWD-header h2 {
    font-size: 2.25rem;
    color: #fdf5e4;
    margin-top: 1.875rem;
    margin-bottom: 1.875rem;
  }
  .col-container .RWD-col-row .RWD-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: #fdf5e4;
    padding: 1.5rem;
  }
  .col-container .RWD-col-row .RWD-link li {
    max-width: 80%;
  }
  .col-container .RWD-col-row .RWD-link li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 56px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: #fff;
  }
  .col-container .RWD-col-row .RWD-link li a:hover {
    background: #e6e6e6;
  }
  .col-container .RWD-col-row .RWD-link li a img {
    width: 33.33333%;
    height: 20px;
  }
  .col-container .RWD-col-row .RWD-login-account {
    max-width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    background: #7d7159;
  }
  .col-container .RWD-col-row .RWD-login-account ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 1.5rem;
    margin-left: 1.875rem;
    margin-right: 1.875rem;
  }
  .col-container .RWD-col-row .RWD-login-account ul .email-block {
    background: #fdf5e4;
    max-width: 100%;
    margin-bottom: 1rem;
  }
  .col-container .RWD-col-row .RWD-login-account ul .email-block .user-icon {
    padding: 1.3rem;
    color: #7d7159;
    background: #fdf5e4;
  }
  .col-container .RWD-col-row .RWD-login-account ul .email-block input {
    height: 3.5rem;
    background: #fdf5e4;
    border: none;
    outline: none;
  }
  .col-container .RWD-col-row .RWD-login-account ul .password-block {
    background: #fdf5e4;
    max-width: 100%;
    margin-bottom: 1rem;
  }
  .col-container .RWD-col-row .RWD-login-account ul .password-block .key-icon {
    padding: 1.3rem;
    color: #7d7159;
    background: #fdf5e4;
  }
  .col-container .RWD-col-row .RWD-login-account ul .password-block input {
    height: 3.5rem;
    background: #fdf5e4;
    border: none;
    outline: none;
  }
  .col-container .RWD-col-row .RWD-login-account ul .check-box {
    margin-bottom: 1rem;
    color: white;
  }
  .col-container .RWD-col-row .RWD-login-account .submit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: #ffe180;
    font-size: 1.5rem;
    font-weight: bold;
    width: 100%;
    border: none;
  }
  .col-container .RWD-col-row .RWD-login-account .submit:hover {
    background: #ffd54d;
  }
  .col-container .RWD-col-row .RWD-login-account .submit a {
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-decoration: none;
    color: #7d7159;
  }
}

.col-container .col-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.col-container .col-row .order {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 65.95745%;
          flex: 0 0 65.95745%;
  max-width: 65.95745%;
}

.col-container .col-row .order h2 {
  font-size: 1.5rem;
  font-weight: bold;
  background: #fdf5e4;
  color: #7d7159;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}

.col-container .col-row .order ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 1rem;
  border-bottom: 1px solid #fdf5e4;
}

.col-container .col-row .order ul li img {
  width: 107.875px;
  height: 118px;
  -o-object-fit: cover;
     object-fit: cover;
}

.col-container .col-row .order ul li .product-name-and-price {
  color: #7d7159;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.col-container .col-row .order ul li .product-name-and-price .product-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 1.5rem;
  margin-right: 1rem;
}

.col-container .col-row .order ul li .product-name-and-price .product-name li {
  border: none;
}

.col-container .col-row .order ul li .product-name-and-price .product-name li h3 {
  font-size: 1.25rem;
}

.col-container .col-row .order ul li .product-name-and-price .order-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 3rem;
  line-height: 3rem;
}

.col-container .col-row .order ul li .product-name-and-price .order-box button {
  border: none;
  border: 1px solid #fdf5e4;
  background: none;
  width: 41.35px;
}

.col-container .col-row .order ul li .product-name-and-price .order-box button:hover {
  background: #aaaaaa;
}

.col-container .col-row .order ul li .product-name-and-price .order-box button:focus {
  outline: none;
}

.col-container .col-row .order ul li .product-name-and-price .order-box p {
  border: 1px solid #fdf5e4;
  width: 41.35px;
  text-align: center;
}

.col-container .col-row .order ul li .price {
  font-size: 1.25rem;
  font-weight: bold;
  color: #7d7159;
}

.col-container .col-row .order ul li a {
  color: #7d7159;
}

.col-container .col-row .summary {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 31.91489%;
          flex: 0 0 31.91489%;
  max-width: 31.91489%;
  background: #7d7159;
  height: 260px;
}

.col-container .col-row .summary h2 {
  font-size: 1.5rem;
  color: #fdf5e4;
  padding: 1rem;
  border-bottom: 1px solid #fdf5e4;
  text-align: center;
  margin-right: 1rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.col-container .col-row .summary .subtotal {
  color: #fdf5e4;
  margin-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.col-container .col-row .summary .subtotal li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 0.5rem;
}

.col-container .col-row .summary .total {
  color: #fdf5e4;
  margin-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.col-container .col-row .summary .total li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.25rem;
  font-weight: bold;
}

.col-container .col-row .summary button {
  background: #ffe180;
  border: none;
  width: 100%;
  padding: 1rem;
}

.col-container .col-row .summary button:hover {
  background: #ffd54d;
}

.col-container .col-row .summary button a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #7d7159;
  font-weight: bold;
}

@media (max-width: 1023px) {
  .col-container .col-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .col-container .col-row .order {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .col-container .col-row .order ul li img {
    -webkit-box-flex: 0.7;
        -ms-flex: 0.7;
            flex: 0.7;
  }
  .col-container .col-row .summary {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 48.93617%;
            flex: 0 0 48.93617%;
    max-width: 48.93617%;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
}

@media (max-width: 767px) {
  .col-container .col-row .order ul li img {
    -webkit-box-flex: 0.7;
        -ms-flex: 0.7;
            flex: 0.7;
  }
  .col-container .col-row .order ul li .product-name-and-price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .col-container .col-row .order ul li .product-name-and-price .product-name {
    position: relative;
    left: -10px;
  }
  .col-container .col-row .order ul li .product-name-and-price .order-box {
    margin-bottom: 3rem;
  }
  .col-container .col-row .order ul li .price {
    position: relative;
    bottom: -100px;
  }
  .col-container .col-row .order .fa-trash-alt {
    display: none;
  }
}

@media (max-width: 568px) {
  .col-container .col-row .summary {
    margin-top: 2rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    background: white;
  }
  .col-container .col-row .summary h2 {
    color: #7d7159;
    border-bottom: none;
    font-weight: bold;
    background: #fdf5e4;
  }
  .col-container .col-row .summary ul li {
    color: #7d7159;
  }
}
