.container {
  margin: 0 auto;
}

.container .row .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100px;
}

.container .row .header .logo {
  background-image: url("https://miro.medium.com/max/4660/1*gl91sI5ZdsRalpCGu8y71A.jpeg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 150px;
  width: 200px;
  z-index: -1;
}

.container .row .header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 5rem;
}

.container .row .header .menu a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  color: #7d7159;
  font-weight: 900;
  height: 5rem;
  padding-left: 3rem;
  padding-right: 3rem;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  text-decoration: none;
}

.container .row .header .menu a:hover {
  color: whitesmoke;
  background: #7d7159;
}

.container .row .RWD-menu {
  display: none;
}

@media (max-width: 767px) {
  .container .row .header {
    display: none;
  }
  .container .row .RWD-header {
    width: 940px;
  }
  .container .row .RWD-header .RWD-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 80px;
  }
  .container .row .RWD-header .RWD-menu .RWD-hamburger {
    color: #7d7159;
    padding: 2rem;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
  }
  .container .row .RWD-header .RWD-menu .RWD-hamburger:hover {
    color: black;
    background: #7d7159;
  }
  .container .row .RWD-header .RWD-menu .RWD-logo {
    width: 114px;
  }
  .container .row .RWD-header .RWD-menu .RWD-shopping-cart {
    color: #7d7159;
    padding: 2rem;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
  }
  .container .row .RWD-header .RWD-menu .RWD-shopping-cart:hover {
    color: black;
    background: #7d7159;
  }
}

.container .row .banner .banner-img {
  height: 496px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center center;
}

.container .row .banner .float-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 82.5%;
  font-size: 1.5rem;
  letter-spacing: 0.5rem;
  margin: 0 auto;
}

.container .row .banner .float-menu .Feature-of-the-day {
  position: relative;
  top: -100px;
  width: 33.33333%;
}

.container .row .banner .float-menu .Feature-of-the-day a .word {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 256px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  text-decoration: none;
  color: #7d7159;
}

.container .row .banner .float-menu .Feature-of-the-day a .word:hover + div.lid + div.image {
  -webkit-filter: blur(0);
          filter: blur(0);
}

.container .row .banner .float-menu .Feature-of-the-day a .lid {
  position: absolute;
  z-index: 1;
  background: #ffe180;
  width: 100%;
  height: 256px;
  opacity: 0.8;
}

.container .row .banner .float-menu .Feature-of-the-day a .image {
  position: absolute;
  z-index: 0;
  background-image: url("https://images.unsplash.com/photo-1606060831894-dbd9ffe3919e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80");
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 256px;
  -webkit-filter: blur(5px);
          filter: blur(5px);
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
}

.container .row .banner .float-menu .Most-recommended {
  position: relative;
  top: -100px;
  width: 33.33333%;
}

.container .row .banner .float-menu .Most-recommended a .word {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 256px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  text-decoration: none;
  color: black;
}

.container .row .banner .float-menu .Most-recommended a .word:hover + div.lid + div.image {
  -webkit-filter: blur(0);
          filter: blur(0);
}

.container .row .banner .float-menu .Most-recommended a .lid {
  position: absolute;
  z-index: 1;
  background: #7d7159;
  width: 100%;
  height: 256px;
  opacity: 0.8;
}

.container .row .banner .float-menu .Most-recommended a .image {
  position: absolute;
  z-index: 0;
  background-image: url("https://images.unsplash.com/photo-1592470564558-ecaf9c8c6bee?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=700&q=80");
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 256px;
  -webkit-filter: blur(5px);
          filter: blur(5px);
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.container .row .banner .float-menu .New-arrival {
  position: relative;
  top: -100px;
  width: 33.33333%;
}

.container .row .banner .float-menu .New-arrival a .word {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 256px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  text-decoration: none;
  color: black;
}

.container .row .banner .float-menu .New-arrival a .word:hover + div.lid + div.image {
  -webkit-filter: blur(0);
          filter: blur(0);
}

.container .row .banner .float-menu .New-arrival a .lid {
  position: absolute;
  z-index: 1;
  background: #7d7159;
  width: 100%;
  height: 256px;
  opacity: 0.8;
}

.container .row .banner .float-menu .New-arrival a .image {
  position: absolute;
  z-index: 0;
  background-image: url("https://images.unsplash.com/photo-1558819087-46e853d4eaef?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=634&q=80");
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 256px;
  -webkit-filter: blur(5px);
          filter: blur(5px);
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

@media (max-width: 767px) {
  .container .row .banner .float-menu {
    width: 100%;
  }
}

.subscribe-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 116px;
  background: white 0% 0% no-repeat;
  margin-top: 4rem;
}

.subscribe-bar .subscribe-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #555f57;
  font-size: 24px;
  line-height: 2;
}

.subscribe-bar .subscribe-text img {
  width: 42px;
  height: 42px;
}

.subscribe-bar .mailbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.subscribe-bar .mailbox .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60px;
  height: 56px;
  font-size: 1.5rem;
  font-weight: 900;
  background: #fdf5e4;
  color: #7d7159;
}

.subscribe-bar .mailbox .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscribe-bar .mailbox .form .text {
  width: 100%;
  height: 56px;
  background: #fdf5e4;
  border: none;
  outline: none;
}

.subscribe-bar .mailbox .submit {
  background: #ffe180;
  width: 4rem;
  height: auto;
  cursor: pointer;
  border: none;
}

.subscribe-bar .mailbox .submit:hover {
  background: #ffd54d;
}

@media (max-width: 1023px) {
  .subscribe-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 168px;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  height: 150px;
  padding-top: 2rem;
}

.footer .left-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .left-side .footer-logo {
  height: 150px;
  width: 200px;
  margin-bottom: 6.5rem;
}

.footer .right-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .right-side .slogan {
  height: 218px;
  width: 80px;
}

.end-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

.end-line .fanpage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80px;
  height: 80px;
}

.end-line .fanpage a {
  margin-right: 0.3rem;
}

.end-line .reserve {
  color: #7d7159;
}
